# 🌱 Java (Spring Boot)
target/
*.class
*.log
logs/
build/

# ☕ Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# 🛠 IDEs
.idea/
*.iml
.vscode/
.DS_Store
.AppleDouble
*.iws
*.ipr
.sts4-cache
.apt_generated
.project
.classpath
.factorypath
.settings/

# 📁 기타 (NetBeans 관련 파일 무시, 사용 안하면 삭제 가능)
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/